<tr class="vertical-middle">
  <th> Tracking Number </th>
  <% shipment = order.shipments.first %>
  <td colspan="5"> <%= shipment.tracking_number || 'No tracking details provided.' %> </td>
</tr>
<tr class="vertical-middle">
  <th> Tracking URL </th>
  <td colspan="5"> <%= shipment.tracking_url %> </td>
</tr>
