<div class="shipping-rate-form form-group text-left">
  <p><%= t('spree.delivery_instructions') %></p>
  
  <label><%= t('spree.courier') %>:</label>  
  <ul class="radios shipping-methods">
  <% ship_form.object.shipping_rates.sort_by(&:cost).each do |rate| %>
    <% if rate.is_available? %>
      <li class="shipping-method">
        <table width="100%">
          <tr>
            <td width="65%" class="rate-name text-left">
              <strong><%= courier_name rate.name %></strong>&nbsp;<%= "(#{rate.min_delivery_time} - #{rate.max_delivery_time} #{t('spree.delivery_days')})" if rate.min_delivery_time && rate.max_delivery_time %>
            </td>
            <td class="rate-cost text-right">
              <%= "#{rate.display_cost}" %>
            </td>
            <td width="10%" class="text-right">
              <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
            </td> 
          </tr>
        </table>
        <!-- <div class="rate-name text-left">
        </div>
        <label>
          <span class="rate-cost"></span>
          <%#= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
        </label> -->
        
      </li>
    <% end %>
  <% end %>
  </ul>

  <hr>

  <% shipment = @order.shipments.first %>
  <div class="form-group text-left">
    <label><%= t('spree.taxes_and_duties_paid_by.label') %>:</label>
    <%= select_tag 'taxes_duties_paid_by', options_for_select([ [t('spree.receiver'),'Receiver'], [t('spree.sender'), 'Sender'] ], shipment.taxes_duties_paid_by), class: 'custom-select-combo form-control' %>
    <p>
      <small class="form-text"><%= t('spree.taxes_and_duties_paid_by.receiver')%></small>
    </p>
    <p>
      <small class="form-text"><%= t('spree.taxes_and_duties_paid_by.sender')%></small>
    </p>
    <p>
      <small class="form-text"><%= t('spree.taxes_and_duties_paid_by.hk_post')%></small>
    </p>
    <!-- <br> -->
    <label class="form-check-label">
      <%= check_box_tag 'is_insured', 'is_insured', shipment.is_insured %>
      <%= t('spree.purchase_insurance_html') %>
    </label>    
  </div>
  <p>
    <small class="form-text"><%= t('spree.shipping_rate_instruction')%></small>
  </p>
  <div class="form-group text-right">
    <%= submit_tag t('spree.get_shipping_rates'), type: 'button', id: 'shipping_rate_button', class: 'btn btn-outline-primary', remote: true %>    
  </div>
  
  <% if Spree::Config[:shipping_instructions] %>
  <hr>
  <div class="form-group text-left">
    <%= form.label :special_instructions, t('spree.shipping_instructions') %>:
    <div class="payment-method-card">
      <%= form.text_area :special_instructions, cols: 50, rows: 7 %>
    </div>
  </div>
  <% end %>
  
</div>

<script>
  $(document).ready(function() {
    var url = '<%= checkout_state_path("delivery") %>';

    $('#shipping_rate_button').on('click', function() {
      var taxes_duties_paid_by = $('#taxes_duties_paid_by').val();
      var is_insured = $('#is_insured').is(':checked');

      window.location = url + '?taxes_duties_paid_by=' + taxes_duties_paid_by +
                              (is_insured ? '&is_insured=1' : '') +
                              '&refresh_rates=true';
    });
    
    $('input[type="radio"][name="order[shipments_attributes][0][selected_shipping_rate_id]"]').on('change', function() {
      var courier_id = this.value;
      var taxes_duties_paid_by = $('#taxes_duties_paid_by').val();
      var is_insured = $('#is_insured').is(':checked');
      
      window.location = url + '?taxes_duties_paid_by=' + taxes_duties_paid_by +
                              (is_insured ? '&is_insured=1' : '') +
                              '&selected_courier_id=' + courier_id + 
                              '&update_shipping=true' +
                              '&refresh_rates=true';
    });

    $('#taxes_duties_paid_by').on('change', function() {
      var courier_id = $('input[type="radio"][name="order[shipments_attributes][0][selected_shipping_rate_id]"]:checked').val();
      var taxes_duties_paid_by = $('#taxes_duties_paid_by').val();
      var is_insured = $('#is_insured').is(':checked');

      window.location = url + '?taxes_duties_paid_by=' + taxes_duties_paid_by +
                              (is_insured ? '&is_insured=1' : '') +
                              '&selected_courier_id=' + courier_id +
                              '&update_shipping=true' +
                              '&refresh_rates=true';
    });
    
    $('#is_insured').on('change', function() {
      var courier_id = $('input[type="radio"][name="order[shipments_attributes][0][selected_shipping_rate_id]"]:checked').val();
      var taxes_duties_paid_by = $('#taxes_duties_paid_by').val();
      var is_insured = $('#is_insured').is(':checked');

      window.location = url + '?taxes_duties_paid_by=' + taxes_duties_paid_by +
                              (is_insured ? '&is_insured=1' : '') +
                              '&selected_courier_id=' + courier_id +
                              '&update_shipping=true' +
                              '&refresh_rates=true';
    });
  });
</script>
